<div class="col-5">
  <span>LV</span>
  <span class="float-right" id="battle-level"><%= @brave.level %></span>
</div>
<div class="col-5">
  <span>HP</span>
  <%# HPが変化するように %>
  <span class="float-right" id="battle-hp"><%= session[:brave]['hp'] %></span>
</div>