<div class="game-container status-container">
  <p class="game-label" id="battle-brave-name"><%= @brave.name %></p>
  <div class="game-content">
    <div class="row justify-content-between no-gutters" id="battle-status">
      <%= render 'games/status/battle_status' %>
    </div>
  </div>
</div>