<div class="py-4 text-center" id="battle-monster">
  <p id="battle-monster-name">
    <%= @monster.name %>
  </p>
  <div id="battle-monster-image">
    <%= render 'games/monster/image' %>
  </div>
</div>