<div class="modal fade" id="battle-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content game-container">
      <div class="modal-body mt-4" id="battle-body">
        <%= render 'games/status/battle' %>
        <%= render 'games/monster/battle' %>
        <%= render 'games/message/battle' %>
      </div>
    </div>
  </div>
</div>