@import "bootstrap";

$background-color: black;


body {
  background-color: $background-color;
  // color: red; //テスト用
  color: white;

  //DQフォント
  font-family: 'DQfont';

}

// ホーム画面全体
.base-container {
  @extend .container-fluid;
  max-width: 75%;
  padding: 2rem;

  // // テスト用ライン
  // border: 4px solid #fff; //1本線で表示

  //位置調整
  margin-top: 20px;
}

// ゲーム内のフォント 
 @font-face{
 font-family: "DQfont";
src: font-url('DQ.TTF') format('truetype');
}

// ゲーム内のフォントサイズ
.game-font {
  font-size: 2.3rem;
  @media screen and (max-width: 450px) {
    font-size: 2.3rem;
  }
}

//戦闘画面のモーダルウィンドウ
.game-container {
  // background: darkcyan;
  
  //背景の読み込み
  background-image: image-url('field/DQfieldmap_kyoto.png');

  //元画像の縦横比は保持して、要素をちょうどよく覆うサイズに調整
  background-size:cover; 

  
  margin: 0 auto;  //上下のmarginは0だが左右のmarginはautoで中央揃えする
  border: 4px solid ; //1本線で表示


  border-radius: 5px;  //要素の四隅の角を丸める

  // //位置調整
  top: 5%;  //positionプロパティで指定した要素の配置方法（基準位置）を基に、上からの配置位置を指定

}

  //戦闘画面のメッセージウィンドウ（メッセージは別）
.message-container {
  // background: sandybrown;//テスト用
  max-width: 576px;
  text-align: center;

  // //ウィンドウ位置の設定
  position:relative;  //相対位置
  top: 250px;

}

// ステータス ホーム画面用（勇者名を枠の上真ん中に配置）
//ホーム画面　ゆうしゃステイタス画面　ホーム画面と共用されている　コンテナを分けた
.status-container {
  background: black;

  max-width: 400px; //400pxよりも大きくならない
  padding: 2rem;  //要素の全四辺のパディング領域
  position: relative; // ボックスの配置方法（基準位置）を指定する.相対位置への配置
  margin-top: 2rem;  //上マージンを指定する

  .game-label {
    position: absolute;  //親要素を基準に絶対的な位置を決める
    top: 0;  //positionプロパティで指定した要素の配置方法（基準位置）を基に、上からの配置位置を指定
    left: 50%;  //positionプロパティで指定した要素の配置方法（基準位置）を基に、左からの配置位置を指定
    padding: 0 5px;
    margin: 0;
    background-color: $background-color;

    transform: translateY(-50%) translateX(-50%);
  }
}
// 戦闘画面 ゆうしゃステイタス画面 ホーム画面と共用されているため、コンテナを分けた

.battle-status-container {
  background: black;
  max-width: 400px; //400pxよりも大きくならない
  padding: 0.5rem;  //要素の全四辺のパディング領域
  margin-top: 0rem;  //上マージンを指定する
  line-height: 1.0rem;
  // //ウィンドウ位置の設定
  position:absolute;  //絶対位置
  width:25%; height:40%;
  top:0%;
  left:0%;
  border: 4px solid #fff; //1本線で表示

  .battle-game-label {
    position: absolute;  //親要素を基準に絶対的な位置を決める
    top: 0;  //positionプロパティで指定した要素の配置方法（基準位置）を基に、上からの配置位置を指定
    left: 50%;  //positionプロパティで指定した要素の配置方法（基準位置）を基に、左からの配置位置を指定
    padding: 0 5px;
    margin: 0;
    background-color: $background-color;
    // background:white;//テスト用

    transform: translateY(-50%) translateX(-50%);
  }
}
// たたかうーせっていの間に使用
hr.game-line {
  width: 100%;
  height: 2px;
  background-color: white;
  padding: 0;
  margin: 0;
}

// ゆうしゃーHPの間に使用
hr.battle-game-line {
  width: 120%;
  height: 2.5px;
  background-color: white;
  padding: 0.0rm;
  margin-left: -10%;
}
// ボタンの見た目（背景は黒，文字色は白，白枠）

.btn-black {
  font-size: 2.3rem;
  padding: 10px 20px;
  text-indent: 4px;
  letter-spacing: 4px;
  border-width: 1.5px;
  border-color: #888;
  border-radius: 5px;
  color: white;
  transition: 0.5s;

  &:focus {
    overflow: hidden;
    outline: none;
  }

  &:hover {
    color: white;
    border-color: #BBB;
    background-color: #343A40;
    transition: 0.5s;
  }

  @media screen and (max-width: 450px) {
    font-size: 2rem;
    text-indent: 0;
    letter-spacing: 0;
  }
}

.close:focus {
  overflow: hidden;
  outline: none;
}

.battle-message-container {
  background:black;
  text-align: left;  //インラインレベルのコンテンツは、ラインボックスの左端に揃えられる
  height: 300px;

  
}
.top-message-container {
  //トップ画面　コマンドウィンドウ
  background: black;

  text-align: left;  //インラインレベルのコンテンツは、ラインボックスの左端に揃えられる

  
  //ウィンドウ位置の設定
  position: absolute;
  top: 45%;
  left: 25%; //中央揃え
  right: 25%; //中央揃え
  max-width: 500px;
  max-height: 300px;
}
// 画面を揺らすモーション

.swing {
  display: inline-block;
  animation: swing-motion .2s infinite;
}

@keyframes swing-motion {
  0% {
    transform: translate(0px, 0px) rotateZ(0deg)
  }
  25% {
    transform: translate(2px, 2px) rotateZ(1deg)
  }
  50% {
    transform: translate(0px, 2px) rotateZ(0deg)
  }
  75% {
    transform: translate(2px, 0px) rotateZ(-1deg)
  }
  100% {
    transform: translate(0px, 0px) rotateZ(0deg)
  }
}

// モンスターの文字と画像
#battle-monster {
  // フェードアウトするようにしておく
  -webkit-transition: opacity 1.5s;
  -moz-transition: opacity 1.5s;
  transition: opacity 1.5s;
  

  //ウィンドウ位置の設定
  position:absolute;  //絶対位置
  width:50%; height:65%;
  top:0%;
  left:25%;
  // テスト用ライン もっと小さく表示できるようにすること
  border: 4px solid rgb(255, 255, 255); //1本線で表示
  // background: black;
  //戦闘背景の読み込み
  background-image: image-url('background/mate_BackGround01.png');
  //元画像の縦横比は保持して、要素をちょうどよく覆うサイズに調整
  background-size:cover; 

}