<div class="game-container message-container mb-5">
  <div class="px-4 py-3 battle-message-container">
    <div id="battle-messages">
      <%= Message.start(@monster) %>
    </div>
    <div class="mt-4" id="battle-button-container">
      <%= button_to 'たたかう', battle_path, class: 'btn btn-black btn-block', id: 'battle-button', remote: true, method: :get %>
    </div>

    <%# <div class="mt-4" id="battle-button-container">
    <button type="button" class="btn btn-black btn-block my-2" data-toggle="modal" data-target="#edit-modal">
      にげる
    </button> %>

    <%# root_pathに変更 トップ画面の文字が小さくなってしまった。。。%>
    <div class="mt-4" id="battle-button-container">
      <%= button_to 'にげる', root_path, class: 'btn btn-black btn-block', id: 'battle-button', remote: true, method: :get %>
    </div>

  </div>

  </div>
</div>